.tools {
  width: 60%;
  border-radius: 50px;
  justify-content: space-between;
  background: #fffdfa;
  box-shadow: inset 5px 5px 3px black,
              inset -5px -5px 3px black;
  padding: 40px;
  margin: 30px;
 display: flex;
 



  
}
.tools > img {
  margin: 20px 20px 0 0;
}
.about__me {
  background-color: #b37400;
}

#butn {
  border-radius: 20px;
  background: linear-gradient(145deg, #f9f5ec, #ffffff);

  color: black;
  border: 3px solid black;
}

.github {
  background: #ffa500;
}

@media (max-width: 1000px) {
  .tools{
   flex-direction:column
 }
}

