.tools {
  width: 60%;
  border-radius: 50px;
  justify-content: space-between;
  background: #e9e5dd;
  box-shadow: inset 5px 5px 3px #5d5c58,
              inset -5px -5px 3px #ffffff;
  padding: 40px;
  margin: 30px;
 display: flex;
  
}
.tools > img {
  margin: 20px 20px 0 0;
}
.about__me {
  background-color: #b37400;
}

#butn {
  border-radius: 20px;
  background: linear-gradient(145deg, #f9f5ec, #d2cec7);
box-shadow:  7px 7px 15px #979590,
             -7px -7px 15px #ffffff;
  color: black;
  border: 1px solid rgb(74, 74, 74);
}

.github {
  background: #ffa500;
}
