.tools {
  width: 100%;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  background: #ffff;
  
  padding: 40px;
  margin: 30px;
 display: flex;
 



  
}
.tools > img {
  margin: 20px 20px 0 0;
}

.tools  > div{
  justify-content: center;
  border: 2px solid rgb(58, 58, 58);
  padding: 2%;
  width: 22%;
  margin-right: 1.5%;
  margin-bottom: 1vh;
  border-radius: 7%;



}
.about__me {
  background-color: #b37400;
}

#butn {
  border-radius: 20px;
  background: linear-gradient(145deg, #f9f5ec, #ffffff);

  color: black;
  border: 3px solid black;
}

.github {
  background: #ffa500;
}

@media (max-width: 820px) {
  .tools{
    
   flex-direction:column 

 }
 .tools >div{
   width: 40%;
 }

}


